body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans',
    sans-serif;
}

body a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}





.container {
  width: 1200px;
  margin: 0 auto;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  background: #ffffff;
}



.header-middle .header-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  margin-right: 30px;
  padding-bottom: 30px;
  position: relative;
}

.header-middle .header-link::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  transition: all ease 0.5s;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);


}

.header-middle .header-link:hover::before {
  width: 100%;
}

.header-right .h-right-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 8px 36px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  display: inline-block;
}

.header-right .h-right-link:hover {
  opacity: 0.4;
}

.section-1 {
  background: #FAFAFA;
  background-image: url('../photo/img/bg\ \(1\).svg');
  background-repeat: no-repeat;
  background-position: right -40px;
}

.double {
  position: absolute;
  right: -170px;
  top: -133px;

}





.section1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.section1-left {
  position: relative;
}

.big-img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 647px;
  height: 908px;
}

.image1 {
  position: absolute;
  right: -170px;
  top: -50px;
}

.image2 {
  position: absolute;
  top: 145px;
  right: -170px;

}

.section1 {
  padding-top: 170px;
  padding-bottom: 170px;
}



.section1 h1 {
  font-style: normal;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}

.section1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 24px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}

.section1 a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 8px 36px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  display: inline-block;
  margin-top: 24px;

}

.section1 a:hover {
  opacity: 0.4;
}

.section-2 {
  background: #F4F5F7;
}

.section2 {
  padding-top: 96px;
  padding-bottom: 94px;
}

.section2-top h2 {
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}

.section2-top p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 16px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}

.section2-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2-block {
  margin-top: 72px;
}

.section2-block h4 {
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  margin-top: 40px;
  letter-spacing: -0.428571px;
  color: #2D314D;
}

.mobil-bgi {
  display: none;
}

.section2-block p {
  margin-top: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597A5;
}

.section-3 {
  background: #FAFAFA;
  padding-bottom: 80px;
}

.section3-text .text1 {
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  padding-top: 80px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}

.section3 {
  display: flex;
  justify-content: space-between;
}

.section3-block {
  background: #ffffff;
  width: 255px;
}

.section3-block .block-p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
}

.section3-block .block3-bottom a {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin-top: 8px;
  letter-spacing: -0.285714px;
  color: #2D314D;

}



.section3-block .block3-bottom a:hover {
  color: #30C88F;
}

.section3-block .block3-bottom .block-p2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-top: 8px;
  letter-spacing: -0.203125px;
  color: #9597A5;
}

.block3-bottom {
  padding: 25px 24px 24px 24px;
}

footer {
  background: #2D314D;
  width: 100%;
}

.footer1 {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
}

.fot1-bottom {
  margin-top: 65px;
}

.fot1-bottom img {
  margin-right: 13px;
  transition: all ease 0.5s;
}

.fot1-bottom img:hover {
  transform: translatey(-5px);
}

.fot1-top {
  padding-top: 48px;
}

.fot2 {
  margin-top: 30px;
  margin-left: 130px;
}

.fot2 a:hover {
  color: #30C88F;
}

.fot3 a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
}

.fot2 a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
}

.fot3 a:hover {
  color: #30C88F;
}

.fot2 li {
  list-style: none;
  padding-bottom: 21px;
}

.fot3 {
  margin-top: 30px;
  margin-left: 130px;
}

.fot3 li {
  list-style: none;
  padding-bottom: 21px;
}

.fot-right-top a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 8px 36px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  display: inline-block;
  margin-top: 48px;
}

.fot-right-top a:hover {
  opacity: 0.9;
}

.fot-right-bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin-top: 47px;
  opacity: 0.5;

}










.header-mobile .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile {
  display: none;
}

.block3-img {
  width: 255px;
  height: 200px;
}

.block3-mobile {
  display: none;
}

.footer2 {
  display: none;
}

.footer2 .img-logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.logo-footer {
  display: flex;
  justify-content: center;
}

.logo-footer img {
  margin-top: 34px;
  margin-left: 16px;
}



.ul-block li {
  list-style: none;
  text-align: center;
}

.ul-block ul {
  padding: 0;
  margin: 0;
  margin-top: 34px;
}

.ul-block a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.link-end {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 8px 36px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  display: inline-block;
}

.link-end1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.copy {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  margin-top: 24px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-bottom: 40px;
}

.section3-block {
  border-radius: 5px;
}

.bodyimg {
  display: none;
}




@media only screen and (max-width:450px) {

  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }





  .header1 {
    display: none;
  }

  .header-mobile {
    display: block;
    padding: 18px 0px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    z-index: 200;
  }





  .section1 {
    padding-top: 320px;
    padding-bottom: 88px;
  }

  .section1 h1 {
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: -0.714286px;
    color: #2D314D;
  }

  .section1 p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-top: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #9597A5;
  }

  .section1 a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    padding: 8px 36px;
    color: #FFFFFF;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    display: inline-block;
    margin-top: 24px;
    text-align: center;
  }

  .link-a {
    display: flex;
    justify-content: center;
  }

  .section2-top h2 {
    font-style: normal;
    font-weight: 100;
    font-size: 37px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
    color: #2D314D;
  }

  .section2-top p {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #9597A5;
  }

  .section2-bottom {
    display: block;
  }

  .img-block {
    display: flex;
    justify-content: center;
  }

  .section2-block h4 {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.357143px;
    color: #2D314D;
    margin-top: 24px;
  }

  .section2-block p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #9597A5;
    margin-top: 16px;

  }

  .section2-block {
    margin-top: 72px;
  }

  .section3-text .text1 {
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
    color: #2D314D;
    margin-bottom: 31px;
  }

  .section3 {
    display: flex;
    flex-direction: column;
  }

  /* .block3-img {
   width: 350px;
   height: 200px;
 } */

  .section3-block {
    background: #ffffff;
    width: 375px;
  }

  .section3-block .block-p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
  }

  .block3-bottom {
    padding: 25px 24px;
  }

  .section3-block .block3-bottom a {
    font-style: normal;
    font-weight: 100;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
  }

  .section3-block {
    background: #ffffff;
    margin-bottom: 24px;
  }

  .block3-top {
    display: none;
  }

  .block3-mobile {
    display: block;
  }

  .block3-mobile img {
    width: 375px;
    height: 200px;
  }

  .footer1 {
    display: none;
  }

  .footer2 {
    display: block;
  }

  .image2 {
    display: none;

  }



  .section1-right {
    display: none;
  }

  .section-1 {
    background: #FAFAFA;
    background-image: url('../photo/img/phones-mobile.png');
    background-repeat: no-repeat;
    background-position: center -85px;
    background-size: contain;

    position: relative;
  }

  .section1-right .big-img {
    display: none;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: none;
  }

  .mobil-bgi {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 450px;
    top: -25px;


  }

  .section1 {
    padding-top: 368px;
    display: block;
  }

  .big-img {
    display: none;
  }


  header {
    display: none;
  }


  .hoveblock1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    display: block;
    padding-top: 32px;
    color: #2D314D;
  }

  .hoveblock2 {
    padding-bottom: 32px;
  }

  .burgerspan {
    width: 24px;
    height: 1px;
    background: #2D314D;
    display: block;
    margin-bottom: 4px;
  }

  .burgerspan:last-child {
    margin-bottom: 0;
  }

  .burgerspan {
    transition: all .2s;
  }

  .burgerspan:nth-child(2) {
    transition: all .001s
  }

  .hamburger.clicked .burgerspan:nth-child(2) {
    visibility: hidden;
    opacity: 0;
  }

  .hamburger.clicked .burgerspan:first-child {
    transform: rotate(45deg) translateY(7px);
    transform-origin: center;
  }

  .hamburger.clicked .burgerspan:last-child {
    transform: rotate(-45deg) translateY(-7px);
    transform-origin: center;

  }


  /* .hamburger.clicked .burgerspan:nth-child(2) {
    visibility: hidden;
  }

  .hamburger.clicked .burgerspan:nth-child(2) {
    transform-origin: right
  }

  .hamburger.clicked .burgerspan:nth-child(2) {
    transform: rotate(-45deg);
    transition: all ease 0.5s;
    position: absolute;
    top: 23px;
    right: 40px;
  } */

  /* .hamburger.clicked .burgerspan:last-child {
    transform: rotate(45deg);
    transition: all ease 0.5s;

  } */


  .bodyimg {
    display: block;
    background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* display: none; */
    transform: translateY(-100%);
    transition: transform .4s ease;
  }

  .bodyimg.clicked {
    /* display: block; */
    transform: translateY(0);
  }

  .hoverblock {
    background: #FFFFFF;
    border-radius: 4px;
    width: 327px;
    /* height: ; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    position: relative;
    z-index: 200;
  }

}
















}